.cache/
downloads/
dist/
output/
backend/.venv/
backend/*.log
backend/jm_server/__pycache__/
mobile_app/.dart_tool/
mobile_app/build/*
!mobile_app/build/web/
!mobile_app/build/web/**
mobile_app/android/.gradle/
mobile_app/ios/Flutter/ephemeral/
mobile_app/linux/
mobile_app/macos/
mobile_app/windows/
mobile_app/.flutter-plugins
mobile_app/.flutter-plugins-dependencies
mobile_app/*.iml
