.cache/
downloads/
dist/
output/
__pycache__/
*.py[cod]
*.log
.DS_Store
backend/.venv/
backend/*.log
backend/jm_server/__pycache__/
mobile_app/.dart_tool/
mobile_app/build/
mobile_app/android/.gradle/
mobile_app/android/local.properties
mobile_app/ios/Flutter/ephemeral/
mobile_app/ios/Flutter/Generated.xcconfig
mobile_app/ios/Flutter/flutter_export_environment.sh
mobile_app/ios/Pods/
mobile_app/ios/.symlinks/
mobile_app/linux/
mobile_app/macos/
mobile_app/windows/
mobile_app/.flutter-plugins
mobile_app/.flutter-plugins-dependencies
mobile_app/*.iml
